.slider-featured {
    position: relative;
}

.slider-featured a {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-decoration: none;
    right: 0px;
}


.slider-featured_caption {
    color: #fff;
    top: 0;
    width: 100%;
    padding: 20px;
    font-weight: 300;
    font-size: 28px;
    box-sizing: border-box;
}

.slider-featured_image {
    height: 330px;
    background-size: cover !important;
    background-repeat: no-reapeat;
}