.footer {
    margin-top: 20px;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo img {
    height: 20px;
    padding: 10px;
}

.footer .logo {
    flex-grow: 0;
}

.footer-right {
    flex-grow: 1;
    color: #878787;
    font-size: 12px;
}